<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline"
    [class]="{'mat-form-field-invalid': registerForm.controls.username.dirty && registerForm.controls.username.invalid}">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="registerForm.controls.username.dirty && registerForm.controls.username.invalid">Username error
      message</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline"
    [class]="{'mat-form-field-invalid': registerForm.controls.password.dirty && registerForm.controls.password.invalid}">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Username" formControlName="password">
    <mat-error *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.invalid">Password error
      message</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline"
    [class]="{'mat-form-field-invalid': registerForm.controls.passwordConfirmed.dirty && registerForm.controls.passwordConfirmed.invalid}">
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" placeholder="Confirm password" formControlName="passwordConfirmed">
    <mat-error *ngIf="registerForm.controls.passwordConfirmed.dirty && registerForm.controls.passwordConfirmed.invalid">
      Password Confirm error message</mat-error>
  </mat-form-field>

  <mat-slide-toggle formControlName="rememberMe">Remember me</mat-slide-toggle>

  <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Login</button>

</form>
