<div>
    <span *ngIf="!showUpdateElements">{{topic.title}}</span>
    <form *ngIf="showUpdateElements" [formGroup]="updateTopicForm" (ngSubmit)="saveChanges()">
        <input type="text" placeholder="Title" formControlName="title" />
    </form>
    <div>
        <button *ngIf="!showUpdateElements" (click)="updateTopic()">Update</button>
        <button *ngIf="showUpdateElements" (click)="saveChanges()">Save changes</button>
        <button *ngIf="!showUpdateElements" (click)="deleteTopic()">Delete</button>
    </div>
</div>