<div (mouseenter)="showDetails()" (mouseleave)="hideDetails()">
  <a [routerLink]="['topic', topic.id]" *ngIf="!showUpdateElements">{{topic.title}}
    <span *ngIf="showInformation">{{topic.author.username}} at {{topic.date}}</span>
  </a>
  <form *ngIf="showUpdateElements" [formGroup]="updateTopicForm" (ngSubmit)="saveChanges()">
    <mat-form-field appearance="outline"
      [class]="{'mat-form-field-invalid': updateTopicForm.controls.title.dirty && updateTopicForm.controls.title.invalid}">
      <mat-label>New title</mat-label>
      <input matInput placeholder="New title" formControlName="title">
      <mat-error *ngIf="updateTopicForm.controls.title.dirty && updateTopicForm.controls.title.invalid">Title error
        message
      </mat-error>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button color="primary" *ngIf="!showUpdateElements" (click)="updateTopic()">Update</button>
    <button mat-raised-button color="accent" *ngIf="showUpdateElements" (click)="saveChanges()">Save changes</button>
    <button mat-raised-button color="warn" *ngIf="!showUpdateElements" (click)="deleteTopic()">Delete</button>
  </div>
</div>
