<form [formGroup]="topicForm" (ngSubmit)="onSubmit()">

  <h1>Create a new topic</h1>

  <mat-form-field appearance="outline"
    [class]="{'mat-form-field-invalid': topicForm.controls.title.dirty && topicForm.controls.title.invalid}">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title">
    <mat-error *ngIf="topicForm.controls.title.dirty && topicForm.controls.title.invalid">
      {{getTitleErrors()}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline"
    [class]="{'mat-form-field-invalid': topicForm.controls.content.dirty && topicForm.controls.content.invalid}">
    <mat-label>Message</mat-label>
    <textarea matInput rows="6" cols="50" placeholder="Message" formControlName="content"></textarea>
    <mat-error *ngIf="topicForm.controls.content.dirty && topicForm.controls.content.invalid">
      {{getContentErrors()}}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="topicForm.invalid">Add a new topic</button>

</form>
