<form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="topic-title">Title</label>
        <input type="text" id="topic-title" formControlName="title" placeholder="Title">
    </div>
    <div *ngIf="topicForm.dirty && topicForm.controls.title.invalid" style="color: red;">
        {{getTitleErrors()}}
    </div>
    <div>
        <label for="topic-msg">Message</label>
        <textarea id="topic-msg" formControlName="content" placeholder="Message"></textarea>
    </div>
    <div *ngIf="topicForm.dirty && topicForm.controls.content.invalid" style="color: red;">
        {{getContentErrors()}}
    </div>
    <button [disabled]="topicForm.invalid">Add a new topic</button>
</form>